*
{
    margin : 0;
    padding : 0;
}
#nav-bar
{
    position: sticky;
    top : 0;
    z-index: 10;
}
#slider
{
    width:100%;
}
.carousel-caption
{
    top: 50%;
    bottom : initial!important;
    transform: translateY(-50%);
    
}
.carousel-caption h5
{
    color:rgb(214, 182, 182);
    font-size: 42px;
    
}
#about 
{
    padding-top: 50px;
    padding-bottom: 50px;
    color : #555;
}
#about .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.carousel-caption
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
}
/*------Scroll bar------*/
#scroll
{
    color:rgb(214, 182, 182);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 5px;
    padding-top: 5px;
}
.fade-in {
    padding-top:20px;
    padding-bottom: 20px;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  /*-----Services------*/
  #services
  {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(image/cup13.jpeg);
    background-size:cover;
    background-position:center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #services h1
  {
    text-align:center;
    color:#efefef !important;
    padding-bottom: 20px;
  }
  #services h1::after
  {
    content:' ';
    background:#efefef;
    display:block;
    height:3px;
    width:170px;
    margin:20px auto 5px;
  }
  .services
  {
    margin-top: 40px;
  }
  .icon
  {
    font-size: 25px;
    margin:20px auto;
    padding:20px;
    height:80px;
    width:80px;
    border:1px solid #fff;
    border-radius: 50%;
  }
#contactus
{
  background-color: rgba(0,0,2,0.8);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #787878;;
}
#contactus .container
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 20px;
  padding-bottom: 20px;

}
#map
{
  height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
}
#contactus .contact-form
{
  background-color: black;
  background:rgba(0,0,0,0.8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px rgba(0,0,0,0.13);
}
.input-fields
{
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}


.input-fields .input,
.msg textarea
{
  margin:10px 0;
  background-color: transparent;
  border:0;
  border-bottom:2px solid #c5ecfd;
  padding: 10px;
  color: #787878;
  width:100%;
}

.msg textarea
{
margin-left: 50px;
padding-left: 10px;
height: 100px;
display: flex;
flex-direction: column;
}

::-moz-input-placeholder
{
  color:lightsalmon;
}
::-ms-input-placeholder
{
  color:lightsalmon;
}
.msg .btn
{
  background-color: #39b7dd;
  text-align: center;
  padding:15px;
  border-radius: 5px;
  color:#fff;
  cursor: pointer;
  text-transform: uppercase;
}